@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.bg-style {
  width: calc(100% + 4rem);
  height: 50px;
  background-color: #fff1e2;
  z-index: 0;
}

.navbar {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
  align-self: center;
  padding: 1rem 2rem;
}
.navbar .bg-style {
  align-self: center;
  justify-self: center;
  grid-column: 1/4;
  grid-row: 2/3;
}
.navbar-bg {
  background-color: #fff;
}
.navbar-nav {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: center;
  justify-self: end;
}
.navbar-brand {
  z-index: 1;
  grid-column: 1/2;
  grid-row: 1/4;
  align-self: center;
  width: max-content;
}
.navbar-brand a {
  display: inline-block;
}
.navbar-brand-img {
  max-height: 120px;
  min-height: 100px;
  width: auto;
  background-size: contain;
  border-radius: 50%;
  border: 3px solid #fff1e2;
}

.social-media {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: center;
  display: flex;
  justify-content: flex-end;
}
.social-media .nav-item {
  display: inline-block;
}
.social-media .nav-item:last-child {
  margin-right: 10px;
}
.social-media .fab,
.social-media .fas {
  color: #fff;
}
.social-icon {
  width: 32px;
  height: 32px;
  margin: 4px;
  border-width: 1px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.social-icon:hover {
  animation: animation-bounce 0.3s forwards;
}
.social-icon-facebook {
  background-color: #3e68c0;
  margin-left: -1px;
}
.social-icon-twitter {
  background-color: #23abff;
}
.social-icon-instagram {
  background-color: #222;
  background-image: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.social-icon-youtube {
  background-color: #ee3130;
}
.social-icon-search {
  background-color: #232525;
}

@media (max-width: 768px) {
  .navbar {
    grid-template-rows: auto auto;
  }
  .navbar .bg-style {
    grid-row: 1/2;
    grid-column: 1/4;
  }
  .navbar-brand {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
  }
  .navbar-nav {
    display: flex;
    grid-column: 2/3;
    grid-row: 2;
    margin-left: 40px;
    justify-self: center;
  }

  .social-media {
    grid-column: 2/3;
    grid-row: 2;
    justify-self: center;
    width: max-content;
    margin-right: 40px;
  }
  .social-media .social-icon {
    background-color: transparent;
  }
  .social-media .social-icon .fas {
    color: #232525;
  }
  .social-media .social-icon:hover {
    animation: none;
    transition: 0.2s;
  }
  .social-media .social-icon:hover .fas {
    color: #a3080c;
  }
  .social-media .nav-item:not(:first-child) {
    display: none;
  }
}
@media (min-width: 769px) {
  .navbar .social-media .nav-item:first-child {
    margin-right: 22px;
  }
}
@keyframes animation-bounce {
  40% {
    transform: scale3d(0.9, 0.9, 1);
  }
  70% {
    transform: scale3d(1.05, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.menu-toggle {
  color: #232525;
}
.menu-toggle:hover {
  transition: 0.2s;
  color: #a3080c;
}

#main-menu-checkbox:focus ~ .menu-toggle {
  color: #a3080c;
}

#main-menu-checkbox {
  position: absolute;
  left: -100vw;
}

.main-menu {
  position: absolute;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
}
.main-menu ul {
  padding: 2.5em 0 0;
  box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}
.main-menu .menu-close,
.main-menu .nav-link {
  color: #fff;
  display: block;
  padding: 0.75em 15px;
  line-height: 1em;
  border-bottom: 1px solid #383838;
}
.main-menu li:first-child .nav-link {
  border-top: 1px solid #383838;
}
.main-menu .nav-link:hover,
.main-menu .nav-link:focus,
.main-menu .menu-close:hover {
  background: #333;
}
.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

#main-menu-checkbox:focus ~ .menu-close {
  background: #333;
  text-decoration: underline;
}

#main-menu-checkbox:checked ~ .main-menu,
.main-menu[aria-expanded=true] {
  left: 0;
  outline: none;
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
}

#main-menu-checkbox:checked ~ nav .menu-close,
.main-menu[aria-expanded=true] .menu-close {
  z-index: 1001;
}

#main-menu-checkbox:checked ~ .main-menu ul,
.main-menu[aria-expanded=true] ul {
  position: relative;
  z-index: 1000;
}

#main-menu-checkbox:checked ~ .backdrop,
.main-menu[aria-expanded=true] + .backdrop {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
#main-menu-checkbox:checked ~ .backdrop,
.main-menu[aria-expanded=true] + .backdrop {
    position: fixed;
  }
}
@media (min-width: 769px) {
  .menu-toggle,
.main-menu .menu-close,
#main-menu-checkbox {
    display: none;
  }

  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    overflow-y: auto;
  }

  .main-menu ul {
    display: flex;
    padding: 0;
    box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }

  .main-menu .nav-link {
    color: #232525;
    letter-spacing: 0.5px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0 !important;
  }
  .main-menu .nav-link:hover, .main-menu .nav-link:focus {
    color: #a3080c;
    transition: 0.2s;
    background: transparent;
  }
}
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.entry-header {
  text-align: center;
  margin-bottom: 20px;
}
.entry-title {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -2px;
}

.main-content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  grid-auto-rows: 1fr;
  justify-content: center;
  margin-bottom: 20px;
}
.main-content .card {
  justify-self: center;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  min-width: 200px;
  max-width: 250px;
  grid-area: auto;
}
.card:hover, .card:focus {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}
.card:hover .card-info-hover, .card:focus .card-info-hover {
  opacity: 1;
}
.card:hover .card-img, .card:focus .card-img {
  transform: scale(1.2);
  opacity: 0.3;
}
.card-img {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card-img-container {
  height: 200px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.card-info {
  padding: 16px 24px 24px 24px;
}
.card-info .card-category {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #868686;
}
.card-info .card-title {
  font-size: 23px;
  font-weight: bold;
}
.card-info .card-secondary {
  font-size: 12px;
  font-weight: 600;
  color: #a3080c;
}
.card-info-hover {
  position: absolute;
  z-index: 2;
  top: 0;
  opacity: 0;
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a3080c;
  font-size: 12px;
}
.card-info-hover .fa {
  color: #a3080c;
}
.card-text {
  display: -webkit-box;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 15px;
  max-height: 45px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 8px;
}
.card--1 .card-img {
  background-image: url("https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/slideshows/best_and_worst_salads_for_your_health_slideshow/650x350_best_and_worst_salads_for_your_health_slideshow.jpg");
}
.card--2 .card-img {
  background-image: url("https://d1doqjmisr497k.cloudfront.net//-/media/franksus18/recipe-images/franks_redhot_bacon_cheeseburger_300x300.jpg");
}
.card--3 .card-img {
  background-image: url("https://img.buzzfeed.com/thumbnailer-prod-us-east-1/275e9c3a8e8f44d69b7a91665558de1b/BFV14782_Cauliflower_Bites_4_Ways_FB1080SQ.jpg");
}
.card--4 .card-img {
  background-image: url("https://img.taste.com.au/ol2Jq8ZQ/taste/2016/11/rachel-87711-2.jpeg");
}
.card--5 .card-img {
  background-image: url("https://www.diabetessa.org.za/wp-content/uploads/2017/10/vanilla-icecream.jpg");
}
.card--6 .card-img {
  background-image: url("https://www.canterburycoffee.com/wp-content/uploads/2015/08/coffee-school-types-of-beveages.jpg");
}
.card--7 .card-img {
  background-image: url("https://storage.googleapis.com/gen-atmedia/3/2018/08/21da8fc3181c262c1fa394d43fd084789e585eb3.jpeg");
}

.page-layout {
  display: grid;
  grid-template-columns: 75% 25%;
}

.content-main {
  flex-grow: 1;
}
.content-secondary {
  border: 2px solid #f5d4b7;
}
.content-secondary .social-media {
  justify-content: center;
  margin-bottom: 20px;
}

.profile-section {
  position: relative;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
}

.author-img {
  height: 120px;
  width: auto;
  transform: translate3d(0, -50%, 0);
  border-radius: 50%;
  border: 3px solid #f5d4b7;
}
.author-content {
  margin-top: -60px;
  padding: 5px 10px;
}

.subscription {
  text-align: center;
  padding: 25px 0;
  background-color: #fff1e2;
  border: 1px solid #fff1e2;
  border-radius: 10px;
}
.subscription .logo {
  width: 40%;
  height: auto;
  margin: 0 auto;
}
.subscription header {
  padding: 0 20px;
}
.subscription .title {
  margin-top: 20px;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 23px;
  font-weight: 900;
}
.subscription .subtitle {
  margin: 10px 0 20px;
  font-size: 12px;
  line-height: 15px;
  font-weight: lighter;
  text-transform: capitalize;
}
.subscription-form input {
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 7px;
  background: white;
  padding: 1em 2em;
  outline: none;
  border: none;
  color: #222;
  transition: 0.3s linear;
  margin-bottom: 10px;
}
.subscription-form input:focus {
  background: rgba(0, 0, 255, 0.1);
}
.subscription-form input::placeholder {
  text-transform: uppercase;
  font-size: 9px;
  color: #999;
}
.subscription-form .btn {
  margin-top: 10px;
  width: 100%;
}
.subscription-form .btn-secondary {
  color: #fff;
  border-color: #a3080c;
  background-color: #a3080c;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

img {
  vertical-align: sub;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
