footer {
  background-color: #fff1e2;
  position: relative;

  .logo-wrap {
    align-self: center;

    a {
      display: flex;
      align-items: center;
      color: #000;
      font-size: 22px;
      line-height: 30px;
      transition: 0.2s;

      &:hover {
        color: #a3080c;
      }
    }
  }
}

.footer {
  &-content {
    padding: 0 32px;
    font-size: 14px;
    line-height: 17px;

    &-info {
      word-wrap: break-word;

      span {
        display: block;
        font-weight: bold;
        margin-bottom: 3px;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &-img {
    height: 150px;
    width: auto;
    border-radius: 50%;
    margin-right: 20px;
  }

  &-layout {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 50% 25% 25%;
  }

  &-nav-title {
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid hsla(0, 0%, 84%, 0.8);
    font-size: 17px;
  }
}
