.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.entry {
  &-header {
    text-align: center;
    margin-bottom: 20px;
  }

  &-title {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -2px;
  }
}

.main-content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  grid-auto-rows: 1fr;
  justify-content: center;
  margin-bottom: 20px;

  .card {
    justify-self: center;
  }
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  min-width: 200px;
  max-width: 250px;
  grid-area: auto;

  &:hover,
  &:focus {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);

    .card-info-hover {
      opacity: 1;
    }

    .card-img {
      transform: scale(1.2);
      opacity: 0.3;
    }
  }

  &-img {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  &-img-container {
    height: 200px;
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &-info {
    padding: 16px 24px 24px 24px;

    .card-category {
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: 500;
      color: #868686;
    }

    .card-title {
      font-size: 23px;
      font-weight: bold;
    }

    .card-secondary {
      font-size: 12px;
      font-weight: 600;
      color: #a3080c;
    }

    &-hover {
      position: absolute;
      z-index: 2;
      top: 0;
      opacity: 0;
      padding: 16px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #a3080c;
      font-size: 12px;

      .fa {
        color: #a3080c;
      }
    }
  }

  &-text {
    display: -webkit-box;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 15px;
    max-height: 45px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &--1 {
    @include bg-img(
      "https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/slideshows/best_and_worst_salads_for_your_health_slideshow/650x350_best_and_worst_salads_for_your_health_slideshow.jpg"
    );
  }

  &--2 {
    @include bg-img(
      "https://d1doqjmisr497k.cloudfront.net//-/media/franksus18/recipe-images/franks_redhot_bacon_cheeseburger_300x300.jpg"
    );
  }

  &--3 {
    @include bg-img(
      "https://img.buzzfeed.com/thumbnailer-prod-us-east-1/275e9c3a8e8f44d69b7a91665558de1b/BFV14782_Cauliflower_Bites_4_Ways_FB1080SQ.jpg"
    );
  }

  &--4 {
    @include bg-img("https://img.taste.com.au/ol2Jq8ZQ/taste/2016/11/rachel-87711-2.jpeg");
  }

  &--5 {
    @include bg-img("https://www.diabetessa.org.za/wp-content/uploads/2017/10/vanilla-icecream.jpg");
  }

  &--6 {
    @include bg-img("https://www.canterburycoffee.com/wp-content/uploads/2015/08/coffee-school-types-of-beveages.jpg");
  }
  
  &--7 {
    @include bg-img("https://storage.googleapis.com/gen-atmedia/3/2018/08/21da8fc3181c262c1fa394d43fd084789e585eb3.jpeg");
  }
}
